@media (min-width: 1048px){.App {--sidebar-width: 23%;}}
@media (max-width: 1048px){.App {--sidebar-width: 240px;}}

.App .app-body{
  top:25px;
}

.App .ribbon ~ .app-body{
  top:109.2px;
}

.App .app-body{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  position:absolute;
}


.App > .app-body > #editor {
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.App > .app-body > .side-bar.left ~ #editor {
  left: var(--sidebar-width);
}

.App > .app-body > .side-bar.right ~ #editor {
  right: var(--sidebar-width);
}

html {
  height:100%;

}

html,*, body {
  --theme: light-dev;

  --section0: red;
  --section1: darkcyan;
  --section2: green;
  --section3: white;

  --accent-primary: #0AF;
  --accent-secondary: #FB0;
  --btn-default: rgba(0,0,0,0.0);
  --btn-hover: gray;
  --btn-down: lightgray;

  --highlight: cyan;
  --text-color: #000;

  --ribbon-tab-active: var(--canvas-1);
  --ribbon-tab-inactive: #eee;
  --ribbon-title-bar: var(--canvas-1);
  --ribbon-tab-active-border: black;

  --canvas-scroll: #0BF;
  --canvas-scroll-bkg: #f3f3f3;
  --canvas-img-background: white;

  --canvas-1: #ddd;
  --canvas-2: #bbb;
  --canvas-3: #ccc;
  --canvas-4: #aaa;
}

/* html,*, body {
  --theme: dark-dev;

  --section0: radial-gradient(ellipse at center, rgba(0,75,120N,1) 0%, rgba(0,117,170,1) 100%);;
  --section1: radial-gradient(ellipse at center, #075 0%, #094 100%);;
  --section2: #508;
  --section3: black;

  --accent-primary: #0AF;
  --accent-secondary: #960;
  --btn-default: rgba(0,0,0,0.0);
  --btn-hover: gray;

  --highlight: cyan;
  --text-color: #ddd;

  --ribbon-tab-active: var(--canvas-1);
  --ribbon-tab-inactive: dimgray;
  --ribbon-title-bar: var(--canvas-1);
  --ribbon-tab-active-border: black;

  --canvas-scroll: #07A;
  --canvas-scroll-bkg: #0000;
  --canvas-img-background: gray;

  --canvas-1: rgb(30, 30, 30);
  --canvas-2: rgb(40, 40, 40);
  --canvas-3: rgb(50, 50, 50);
  --canvas-4: rgb(60, 60, 60);
} */
