card {
  display: block;
  position: static;
  display:block;
  width:calc(100% - 60px);
  max-width: calc(100% - 60px);
  background-color: var(--canvas-1);
  margin:auto;
  border-radius: 1em;
  /* border-style: solid; */
  box-shadow: 0 0 10px 0;
  animation: open forwards 1s;
  /*overflow: hidden;*/
  /*To allow for sticky*/
}

@keyframes open{
  from {
    max-height: 0;
  }
  99% {
    max-height: 100%;
  }
  to {
    max-height: none;
  }
}

card .card-marker:before{
  display:inline;
  content: "\a";
  white-space: pre;
}
card .card-marker:after{
  display:inline;
  content: "MARK\a";
  white-space: pre;
  background-color: #0af;
  border-radius:1em;
  padding-left:0.25em;
  padding-right:0.25em;
  font-style: normal;
}
card .card-marker{
  display:inline;
}
/* SHOULD WORK BUT DOESNT
card .card-marker ~ * {
  background: #0af;
  visibility: hidden
}
card *:has(.card-marker) ~ * {
  visibility: hidden
} */

card ::selection {
  background: rgba(0,0,0,0.2); /* WebKit/Blink Browsers */
}

card > .cardHead {
  border-radius: 0.9em;
  /* border-style: solid; */
  box-shadow: 0 0 1px 1px;
  overflow: hidden;
  display:block;
  position: sticky;
  top:0em;
}

card > .cardHead > .cardHeadLower > .cardAuthor::-webkit-scrollbar
{
  background-color: rgba(0,0,0,0.1);
  border-radius: 1em;
}


card > .cardHead > .cardHeadLower > .cardAuthor::-webkit-scrollbar-thumb
{
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
}

card > .cardHead > .cardHeadLower > .cardAuthor::-webkit-scrollbar-thumb:hover
{
  background-color: rgba(0,0,0,0.6);
}
card > .cardHead > .cardHeadLower > .cardAuthor::-webkit-scrollbar-thumb:active{
  background-color: rgba(0,0,0,0.8);
}


card > .cardHead > .cardHeadUpper {
  min-width: 100%;
  min-height: 1em;
  background: var(--canvas-1);
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0.5em;
  padding-top: 0.25em;
  text-align: left;
}

card > .cardHead > .cardHeadLower {
  background: var(--canvas-1);
  position: relative;
  height: 2.75em;
}

card > .cardHead > .cardHeadFormatingBar {
  background: var(--canvas-2);
  height: 0;
  text-align: left;
  overflow-y: hidden;
  transition: height 1s;
}


card > .cardHead > .cardHeadFormatingBar > ribbonbutton {
  margin-left: 0.5em;
  margin-top: 0.25em;
  float: left;
}

card > .cardHead > .cardHeadLower > .cardAuthor{
  padding-left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  left:0em;

  border-style:groove;

  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-right: 0.5em;

  background: var(--canvas-3);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  max-width: calc(100% - 8em);
  /*overflow-x: scroll;*/
  overflow-y: hidden;
  height: 32px;
  white-space: nowrap;
}

card > .cardHead > .cardHeadLower > .cardButtons{
  position: absolute;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
}
card .cardBody {
  min-height: 10em;
  text-align: left;
  font-family: Calibri;
  white-space: pre-wrap;
}
card .cardBody {font-size: 12;}
card .cardBody .hi{background-color: var(--highlight)}
card .cardBody .bold {font-weight: bold;}
card .cardBody .emphasis {font-weight: bold;}
card .cardBody .ital {font-style:italic;}
card .cardBody .udln {text-decoration: underline;}
card .cardBody .cptl {text-transform: uppercase;}
