.card-preview {
  margin: 1em;
  width: auto;
  height: 6em;
  background-color: #AAA;
  /*overflow-y: hidden;*/
}
.card-preview > img {
  height: 5em;
  width: 5em;
  margin: 0.5em;
  float: left;
  background-color: white;
}
.card-preview > .author {
  text-align: left;
  font-size: 1.5em;

  margin: 0;
  margin-top: 0.5em;

  width: 100%;
  height: 1.25em;
}
.card-preview > .title {
  line-height: 1.2em;
  font-size: 1em;
  font-style: italic;
  text-align: left;

  margin: 0;
  margin-left:5.0em;
  margin-right:0;

  height: 2.4em;
  overflow: hidden;
}
.card-preview > .title > span {
  overflow-y: hidden;
  text-overflow: clip;
}

.card-preview > .keywordContainer {
  text-align: left;
  max-width:90%;
  overflow-x: hidden;
}
.card-preview > .keywordContainer > .keyword {
  background-color: #FB0;
  border-radius: 0.6em;
  font-size: 1em;
  height: 1.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.card-preview > .url {
  visibility: hidden;
}
