.cards-frame{
  overflow-y: scroll;     
  width: 100%;
  /*max-height: 90%;*/
  height: calc(100% - 5.1em) !important;
  margin: auto;
  /*background  -color: #069*/
  /*height: auto;*/
  /*max-height: 100%;*/
}