.card-preview {
  position: relative;
  margin: 1em;
  width: auto;
  height: 6em;
  background-color: var(--canvas-4);
  /*overflow-y: hidden;*/
  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.75);
  transition: margin 0.5s;
  color: var(--text-color)
}

.card-preview:hover{
  margin-left: 0.5em;
  margin-right: 0.5em;
  /*height: 6em;*/
}

.card-preview > img {
  height: 5em;
  width: 5em;
  margin: 0.5em;
  float: left;
  background-color: var(--canvas-img-background);
}

.card-preview > .author {
  text-align: left;
  font-size: 1.5em;

  margin: 0;
  margin-top: 0.5em;
  margin-left: 4em;
  margin-right: 0em;

  height: 1.25em;
  overflow: hidden;
}
.card-preview > .author > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-preview > .title {
  line-height: 1.2em;
  font-size: 1em;
  font-style: italic;
  text-align: left;

  margin: 0;
  margin-left:5.0em;
  margin-right:0;

  height: 2.4em;
  overflow: hidden;
}
.card-preview > .title > span {
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.card-preview > .keywordContainer {
  text-align: left;
  max-width:90%;
  overflow-x: hidden;
}
.card-preview > .keywordContainer > .keyword {
  white-space: nowrap;
  background-color: var(--accent-secondary);
  border-radius: 0.6em;
  font-size: 1em;
  height: 1.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.card-preview > .url {
  visibility: hidden;
}




/*TEXTPANE*/
.card-preview{
  --right:23%;
}

@media all and (max-width: 900px) {.card-preview{
  --right:15em !important;
}}

.card-preview >        .text-pane {visibility: hidden;}                 /*Default, no touch*/
.card-preview:hover >  .text-pane {visibility: visible;}                /*Tooltip on hover*/
.card-preview > .text-pane:hover  {visibility: visible;}                /*Keep text pane Display visibility on hover*/
.card-preview > .text-pane:active {visibility: visible;}                /*Stay up when focus shifts*/
.card-preview:active > .text-pane {visibility: hidden;}                 /*Hide when drag begins*/
.card-preview > .text-pane:active {visibility: visible}  

.card-preview > .text-pane > .tri {
  position: fixed;
  transform: translateY(-3.5em);
  right: calc(var(--right) - 0.75em);
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0px 10px 10px;
  border-color: transparent transparent transparent var(--accent-secondary);
}

.card-preview > .text-pane > .fake-body  {
  vertical-align: center;
  --edge: 5em;  
  background: var(--accent-secondary);

  border-style: solid;    
  border-width:0em 1em 0em 0em;  
  border-color: rgba(0,0,0,0); 
   background-clip: content-box; 


  transform: translateX(1.1em) translateY(calc(-2.5em - 50%));
  position: fixed;
  right:var(--right); 
  left:calc(100% - var(--right) - var(--edge) - 0.75em);  
  height: var(--edge); 
  z-index: 1;
}

@keyframes expand {
  0% {
    left:calc(100% - var(--right) - var(--edge));      
    transform: translateX(1.1em) translateY(calc(-2.5em - 50%)); 
  }

  60% {/*Manually change contents and override color*/
    height: calc(400%);
  }
  61% {
    transform: translateX(1.1em);      
    top:0%;
    bottom:0%;
    height: calc(100%);   
  }
  100% {
    left:var(--right);    
    transform: translateX(1.1em);  
    
    top:8em;
    bottom: 1em;  
    height: calc(100% - 9em);
    overflow-y: scroll;     
  }
}

@keyframes expand-pre-load {
  0% {visibility: visible; height: auto}
  50% {visibility: visible; height: auto}
  51% {visibility: hidden; height: 0}
  100% {visibility: hidden; height: 0}
}
@keyframes expand-post-load {
  0% {visibility: hidden; height: 0}
  50% {visibility: hidden; height: 0}
  51% {visibility: visible; height: auto; color:var(--accent-primary)}
  100% {visibility: visible; height: auto; color: black}
}
.card-preview > .text-pane:hover > .fake-body {
  animation: expand 0.15s forwards;
}
.card-preview > .text-pane:hover > .fake-body > .pre-load {
  animation: expand-pre-load 0.15s forwards;
}

.card-preview > .text-pane > .fake-body > .post-load {
  visibility: hidden; 
  height: 0;

  white-space: pre-wrap !important;
  text-align: left;
}

.card-preview > .text-pane:hover > .fake-body > .post-load {
  animation: expand-post-load 0.15s forwards;
}


.card-preview > .text-pane > .fake-body::-webkit-scrollbar {background: #a00;}
.card-preview > .text-pane > .fake-body::-webkit-scrollbar-thumb {border-radius: 1em;background:#a0a;}  
 .card-preview > .text-pane > .fake-body::-webkit-scrollbar-track {border-radius: 1em; background:#00a;} 
.card-preview > .text-pane > .fake-body::-webkit-scrollbar{border-radius: 1em;background-color: greenyellow;}