.card {
  display: block;
  width: 90%;
  background-color: #ddd;
  margin:auto;
  border-radius: 1em;
  border-style: solid;
  /*overflow: hidden;*/ /*To allow for sticky*/
}

.card > .cardHead {
  border-radius: 0.9em;
  border-style: solid;
  overflow: hidden;
  position: sticky;
  top:0em;
  background: #fff;
}

.card > .cardHead > .cardHeadUpper {
  min-width: 100%;
  min-height: 1em;
  background: #ddd;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0.5em;
  padding-top: 0.25em;
  text-align: left;
}

.card > .cardHead > .cardHeadLower {
  background: #dddde0;
  position: relative;
  height: 2.75em;
}

.card > .cardHead > .cardHeadFormatingBar {
  background: #bbbbc0;
  height: 0;
  text-align: left;
  overflow-y: hidden;
  transition: height 1s;
}


.card > .cardHead > .cardHeadFormatingBar > .ribbon-button {
  margin-left: 0.5em;
  margin-top: 0.25em;
  float: left;
}

.card > .cardHead > .cardHeadLower > .cardAuthor{
  padding-left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  left:0em;

  border-style:groove;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-right: 0.5em;

  background: #ccc;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card > .cardHead > .cardHeadLower > .cardButtons{
  position: absolute;
  right: 0.25em;
  top: 50%;
  transform: translateY(-50%);
}
.card .cardBody {
  min-height: 10em;
  text-align: left;
  font-family: Calibri;
}
