.modal-back {
  position: fixed;
  top:0px;
  right: 0px;
  left:0px;
  bottom:0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  visibility: visible;
  display: block;
}

.modal-back .modal-title {
  /*margin: 0.5em;*/
  padding-left:0.25em;
  vertical-align:middle;
  position: absolute;
  /*top:7em;*/
  left: 23%;
  right: 23%;
  top: 112px;
  height: 48px;
  background-color: darkred;
  color:White;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-app-region: drag;
}
.modal-back .modal-title span {
  font-size: 32px;
}

.modal-back .modal-title i.fa-times {
  position: fixed;
  right: calc(23% + 13px);
  top: 122px;
  font-size: 1.5em;
}

.modal-back .modal-title i.fa-times:hover {
  color: var(--btn-hover);
}
.modal-back .modal-title i.fa-times:active {
  color: inherit;
}

.modal-back .modal-body {
  -webkit-transform: translate3d(0, 0, 0);/* HACK: fixes laggy scrolling*/
  -webkit-backface-visibility: hidden; /* HACK: fixes laggy scrolling */
  -webkit-perspective: 1000;/* HACK: fixes laggy scrolling */
  /*margin: 0.5em;*/
  padding-left:0.25em;
  vertical-align: center;
  position: absolute;
  /*top:7em;*/
  left: 23%;
  right: 23%;
  top: 160px;
  height: auto;
  max-height: calc(100% - 200px);
  overflow-y: scroll;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-back .modal-body::-webkit-scrollbar
{
  border-radius: 8px;
	width: 12px;
	background-color: var(--canvas-scroll-bkg);
}

.modal-back .modal-body::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--canvas-scroll);
}


.modal-back .modal-body .HalfButton{
  margin-left: calc(100% / 24);
  margin-right: calc(100% / 24);
  margin-bottom: 10px;
  text-align: center;
}

.dropdown {
  --btn-0:lightgray;
  --btn-1:darkgray;/*medium gray*/
  --btn-2:gray;/*darkest gray*/
  --btn-3:dimgray;
}

.dropdown .dropdown-btn {
  position: relative;
  height: auto;
  display: inline-block;

  padding: 5px 14px 5px 14px;
  border-radius: 4px;

  background: var(--btn-0);
}
.dropdown .dropdown-btn:hover{
  background: var(--btn-1);
}
.dropdown .dropdown-btn:active{
  background: var(--btn-2);
}
.dropdown ul {
  position: absolute;
  top:30px;
  left:0px;
  background-color: var(--btn-0);
  list-style-type: none;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  
}

.dropdown ul li {
  padding: 0px 10px 0px 10px;
  margin-left: 0;
  border-radius: 5px;
  background-color: var(--btn-0);
}
.dropdown ul li:hover{
  background-color: var(--btn-1);
}
.dropdown ul li:active{
  background-color: var(--btn-2)
}
