.ribbon-button {
  display: inline-block;
  --baseheight:14px;
  --height:var(--baseheight);
  font-size: var(--baseheight);

  border-style: solid;
  border-color: var(--btn-default);
  background-color: var(--btn-default);
  border-width: 1.5px;
  margin:px;
  user-select: none !important;
  color: var(--text-color);
  /*height: var(--height);*/
  cursor: default;
}

.ribbon-button:hover{
  border-color: var(--btn-hover);
  background-color: var(--btn-hover);
}

.ribbon-button:active{
  background-color: rgba(0,0,0,0);
}


.ribbon-button.lg {
  --height: calc(2 * var(--baseheight));
}

.ribbon-button .icon {
  width: var(--height);
  padding: 0;
  margin: 0;
}

.ribbon-button .title {
  width: auto;
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
}

.ribbon-button .title, .ribbon-button .icon {
  height: var(--height);
  display: inline-block;
  line-height: var(--height);
  text-align: center;
  vertical-align: middle;
}

.ribbon-button .icon * {
  vertical-align: middle;
  display: block;
}
.ribbon-button.md .icon .glyphicon {
  /*font-size: var(--height)*/
  margin-top: -1px;
}
.ribbon-button.lg .icon .glyphicon {
  font-size: var(--height);
}
.ribbon-button.lg .icon span {
  font-size: var(--height);
  overflow: clip;
}
.ribbon-button .icon img {
  width: var(--height);
  height: var(--height);
}
