.ribbon-button {
  display: inline-block;
  --baseheight:1em;
  --height:var(--baseheight);
  font-size: var(--baseheight);

  border-style: solid;
  border-color: rgba(0,0,0,0);
  margin:0em;
  user-select: none !important;
  background-color: rgba(0,0,0,0.0)
  /*height: var(--height);*/
}

.ribbon-button:hover {
  border-color: gray;
  background-color: gray;
}

.ribbon-button.lg {
  --height: calc(2 * var(--baseheight));
}

.ribbon-button .icon {
  width: var(--height);
  padding: 0;
  margin: 0;
}

.ribbon-button .title {
  width: auto;
  padding: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.ribbon-button .title, .ribbon-button .icon {
  height: var(--height);
  display: inline-block;
  line-height: var(--height);
  text-align: center;
  vertical-align: middle;
}

.ribbon-button .icon * {
  vertical-align: middle;
  display: block;
}
.ribbon-button.md .icon .glyphicon {
  /*font-size: var(--height)*/
  margin-top: -0.1em;
}
