.side-bar {
  width: var(--sidebar-width);
  background-color: var(--canvas-1);
  /* display: inline-block; */
  position: absolute;
  /*width: 23%;*/
  /*-webkit-box-flex: 1;
  box-flex: 1;*/
  height: 100%;
  /*padding-top: 0.5em;*/
  float:none;
  bottom:0;

}

.side-bar.left{
  left: 0;
}
.side-bar.right{
  right: 0;
}

.side-bar .search-bar-container {
  /*box-shadow: 0px 10px 18px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 50px -5px rgba(0,0,0,0.75);*/
  border-bottom: solid;
}
