.animate-height {
  max-height: 0;
  -webkit-transition: max-height 1.35s ease-in-out;
  -moz-transition: max-height 1.35s ease-in-out;
  -o-transition: max-height 1.35s ease-in-out;
  transition: max-height 1.35s ease-in-out;
}
