#editor circle {
  width: 1em;
  height: 1em;
	border-radius: 50%;
  background-color: $text-color;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: border-color 0.3s;
  border: 1px solid black;
  display: block;
}

/*#editor circle:hover{
  border: 1px solid white;
}*/
/*
#editor circle::before, #editor circle::after {
  width: 100%;
  min-height: 1px;
  display: block;
}*/


#editor circle.large {
  width:2em;
  height:2em;
  margin-top:0.5em;
  margin-bottom:0.5em;
}

#editor circle:not(.large) {
  width:1em;
  height:1em;
  margin-top:1em;
  margin-bottom:1em;
}

#editor circle:not(.slow) {
  transition:
    height 0.35s,
    width 0.35s,
    margin-top 0.35s,
    margin-bottom 0.35s,
    border-color 0.3s,
}

#editor circle.slow {
  transition:
    height 1s,
    width 1s,
    margin-top 1s,
    margin-bottom 1s,
    border-color 0.3s,
}
