.modal-back {
  position: fixed;
  top:0px;
  right: 0px;
  left:0px;
  bottom:0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  visibility: visible;
  display: block;
}

.modal-back .modal-title {
  /*margin: 0.5em;*/
  padding-left:0.25em;
  vertical-align:middle;
  position: absolute;
  /*top:7em;*/
  left: 23%;
  right: 23%;
  top: 112px;
  height: 48px;
  background-color: darkred;
  color:White;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-app-region: drag;
}
.modal-back .modal-title span {
  font-size: 32px;
}

.modal-back .modal-title i.fa-times {
  position: fixed;
  right: calc(23% + 13px);
  top: 122px;
  font-size: 1.5em;
  width: 1em;
  -webkit-app-region: no-drag;
}

.modal-back > .modal-title > i.fa-times:hover{
  color: #999;
}
.modal-back .modal-title i.fa-times:active {
  color: #000;
}

.modal-back .modal-body {
  // -webkit-transform: translate3d(0, 0, 0);/* HACK: fixes laggy scrolling*/
  // -webkit-backface-visibility: hidden; /* HACK: fixes laggy scrolling */
  // -webkit-perspective: 1000;/* HACK: fixes laggy scrolling */
  /*margin: 0.5em;*/
  padding-left:0.25em;
  vertical-align: center;
  position: absolute;
  /*top:7em;*/
  left: 23%;
  right: 23%;
  top: 160px;
  height: auto;
  max-height: calc(100% - 200px);
  overflow-y: scroll;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-back .modal-body::-webkit-scrollbar
{
  border-radius: 8px;
	width: 12px;
	background-color: $canvas-scroll-bkg;
}

.modal-back .modal-body::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $canvas-scroll;
}


.modal-back .modal-body .HalfButton{
  margin-left: calc(100% / 24);
  margin-right: calc(100% / 24);
  margin-bottom: 10px;
  text-align: center;
}

$btn-0:white;
$btn-1:lightgray;/*medium gray*/
$btn-2:darkgray;/*darkest gray*/
$btn-3:gray;

.dropdown .dropdown-btn {
  position: relative;
  height: auto;
  display: inline-block;

  padding: 5px 14px 5px 14px;
  border-radius: 4px;
  border-color:$btn-1;
  border-style: solid;
  background: $btn-0;
  &:hover{
    background: $btn-1;
  }
  &:active{
    background: $btn-2;
  }
}
.dropdown ul {
  position: absolute;
  top:30px;
  left:0px;
  background-color: $btn-0;
  list-style-type: none;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 10;
}

.dropdown ul li {
  margin: 8px 4px 8px 4px;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background-color: $btn-0;

  &:hover {
    background-color: $btn-1;
  }
  &:active {
    background-color: $btn-2
  }
}
.dropdown select.hidden {
  height: 0;
  visibility: hidden;
}
