$nav-height: 1.75em;
.nav-item {
  position: relative;
  width: 100%;
  min-height: $nav-height;
  padding: 0;
  box-sizing: border-box;
}

div.root {
  box-shadow: inset 0 0px 6px 0px black;
  min-height: 100%;
  padding: 1em;
}

.nav-item-box {
  background: $canvas-3;
}

.nav-item-box.active {
  background:#0af;
}

.breadcrumb {
  white-space: nowrap;
  overflow-x: hidden;
  margin: 0;
  background: $canvas-3;
}

.breadcrumb .breadcrumb-item::before{
  color:black;
  padding-right: 0;
}


.nav-item .square {
  position: absolute;
  top:0;
  left:0;
  margin:0;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  line-height: $nav-height;
  /* font-size: 1.75em; */
  height: $nav-height;
  width: $nav-height;
}

.nav-item.children input.toggle-vis{
  appearance: none;
}

.nav-item.children input.toggle-vis:after{
  font-family: FontAwesome;
  vertical-align: middle;
  display: inline-block;
  background-color: transparent;
  margin: 0;
  text-align: center;
  line-height: $nav-height;
  /* font-size: 1.75em; */
  height: $nav-height;
  width: $nav-height;
  /* border-width: 0.875em; */
  /* border-color: transparent; */
  /* border-style: solid; */
  /* border-left-color: black; */
  content: '\f07c';
  padding-left:0.2em;
}

.nav-item.children input.toggle-vis:checked:after {
  content: '\f114';
  padding: 0;
}

.nav-item.children input.toggle-vis:checked ~ div.contents{
  visibility: hidden;
  height: 0;
}

.nav-item span.name {
  position: absolute;
  left: $nav-height;
  right:0;
  display: inline-block;
  vertical-align: middle;
  height: $nav-height;
  padding: calc(0.75em / 2);
  line-height: 1em;
  /* max-height: 1em; */
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.nav-item span.name:hover {
  box-shadow: 0 0px 5px 0px;
  $border-size: 1.5px;
  border: solid $border-size;
  padding: calc(0.37em - $border-size);
}


.nav-item div.contents {
  /* position: absolute; */
  /* top: calc($nav-height); */
  /* left: $nav-height; */
  /* right:0; */
  padding-top: $nav-height;
  padding-left: $nav-height;
}

.nav-item .slide-down-name{
  position: absolute;
  top: $nav-height;
  left:0;
  bottom:0;
  width: $nav-height;
  background: $canvas-3;
  overflow-y: hidden;
  padding: 0;
}
