body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import "_Theme";
@import "_App";
@import "_ButtonGroup";
@import "_Card";
@import "_CardPreview";
@import "_CardsFrame";
@import "_Circle";
@import "_Editor";
@import "_Modal";
@import "_Navbar";
@import "_Noselect";
@import "_Ribbon";
@import "_RibbonButtons";
@import "_Searchbar";
@import "_shadows";
@import "_Sidebar";
@import "_slideOpen";
@import "_tab";
@import "_Tabbar";
