ribbongroup {
  display: inline;
  height: 6em;
}

ribbongroup > rbody > title {
  display: block;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

ribbongroup > rbody {
  width: auto;
  display: inline-block;
  height: 6em;

  border-style: solid;
  border-color: rgba(0,0,0,0.2);
  border-width: 1.5px;
  border-top-width: 0;
  border-left-width:0;
  border-bottom-width:0;
}

ribbongroup > rbody > buttongroup {
  vertical-align: top;/*Remove this for a meme*/
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;

  width: auto;
  height: 5em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}


ribbongroup > rbody > buttongroup > div.row {
  display: inline;
  margin: 0;
}
/*
ribbongroup > rbody > buttongroup > div.row > .ribbon-button{
  display: inline;
}*/
