#editor {
  position: absolute;
  background: var(--root-section);
  overflow-y: scroll;
  color: var(--text-color)
}


#editor > section { /*root section*/
  position: static;
  width:100%;
  margin:auto;
}

#editor > section section { /*non root section*/
  box-shadow: 0px 1px 5px 0px;
  width:calc(100% - 60px);
  background: rgba(0,0,0,0.2);
  background: var(--sub-section);
  margin:auto
}

/* #editor > section section section{
  background: var(--section2);
} */



#editor > section > heading {
  font-size: 3em;
  display: block;
  border-style: solid;
  border-width: 1.5px;
}

#editor > section section > heading {
  font-size: 2em;
  display: block;
  text-decoration: underline;
}



#editor > section terminator{
  width: 100%;
  min-height: 1px;
  display: block;
}
/*
#editor > section terminator:nth-child(4){/*Dont ask why or how this works
  min-height: 1px;
}*/
