/*Ribbon.css*/
ribbon {
  height: 84px;
  display: block;
  /*background-color: #0af;*/
  background-color: var(--ribbon-title-bar);
  text-align: left;
  border-bottom-color: black;
  border-bottom-style:dotted;
  border-bottom-width: 1.5px;
}
