ribbonbutton {
  display: inline-block;
  --baseheight:14px;
  --height:var(--baseheight);
  font-size: var(--baseheight);

  border-style: solid;
  border-color: var(--btn-default);
  background-color: var(--btn-default);
  border-width: 1.5px;
  margin:0;
  user-select: none !important;
  color: var(--text-color);
  /*height: var(--height);*/
  cursor: default;
}

ribbonbutton:hover{
  border-color: var(--btn-hover);
  background-color: var(--btn-hover);
}

ribbonbutton:active{
  background-color: rgba(0,0,0,0);
}


ribbonbutton.lg {
  --height: calc(2 * var(--baseheight));
}

ribbonbutton .icon {
  width: var(--height);
  padding: 0;
  margin: 0;
}

ribbonbutton .title {
  width: auto;
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
}

ribbonbutton .title, ribbonbutton .icon {
  height: var(--height);
  display: inline-block;
  line-height: var(--height);
  text-align: center;
  vertical-align: middle;
}

ribbonbutton .icon * {
  vertical-align: middle;
  display: block;
}
ribbonbutton.md .icon .glyphicon {
  /*font-size: var(--height)*/
  margin-top: -1px;
}
ribbonbutton.lg .icon .glyphicon {
  font-size: var(--height);
}
ribbonbutton.lg .icon span {
  font-size: var(--height);
  overflow: clip;
}
ribbonbutton .icon img {
  width: var(--height);
  height: var(--height);
}
